
<!-- End Navbar -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">ข้อมูลส่วนตัว</h4>
            <p class="card-category"></p>
          </div>
          <div class="card-body">
            <p>upload works!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
