<div class="main-panel">
  <app-sidebar></app-sidebar>
  <app-header></app-header>
  <!-- End Navbar -->
  <div class="content">
    <div class="container-fluid">
  <router-outlet></router-outlet>
    </div>
  </div>
<!--  <app-footer></app-footer>-->
</div>
