<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">ข้อมูลส่วนตัว</h4>
        <p class="card-category"></p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group bmd-form-group is-focused">
              <label class="bmd-label-floating">Username</label>
              <input name="username"
                     [(ngModel)]="profile.username"
                     value="{{ profile.username }}"
                     type="text"
                     class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group bmd-form-group is-focused">
              <label class="bmd-label-floating">อีเมล</label>
              <input name="email"
                     [(ngModel)]="profile.email"
                     value="{{ profile.email }}"
                     type="email"
                     class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group bmd-form-group is-focused">
              <label class="bmd-label-floating">ที่อยู่</label>
              <input name="address"
                     [(ngModel)]="profile.address"
                     value="{{ profile.address }}"
                     type="text"
                     class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group bmd-form-group is-focused">
              <label class="bmd-label-floating">เบอร์ติดต่อ</label>
              <input name="phone"
                     [(ngModel)]="profile.phone"
                     value="{{ profile.phone }}"
                     type="text"
                     class="form-control">
            </div>
          </div>
        </div>

        <button type="button" (click)="onSubmitEditProfile()" class="btn btn-primary pull-right">
          บันทึก
        </button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="javascript:;">
          <img class="img" src="../assets/img/faces/marc.jpg">
        </a>
      </div>
      <div class="card-body">

        <a href="javascript:;" class="btn btn-primary btn-round">อัพโหลดรูป</a>
      </div>
    </div>
  </div>
</div>
