<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">

  <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
    user
  </a></div>
  <div class="sidebar-wrapper">
    <ul class="nav">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"
           routerLink="/user-info"
           href="">
          <i class="material-icons">person</i>
          <p>ข้อมูลส่วนตัว</p>
        </a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"
           routerLink="/upload-product"
           routerLinkActive="active"
           href="">
          <i class="material-icons">library_books</i>
          <p>อัพโหลดสิ่งของ</p>
        </a>
      </li>

      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link"
           routerLink="/products"
           routerLinkActive="active"
           href="">
          <i class="material-icons">content_paste</i>
          <p>รายการสิ่งของ</p>
        </a>
      </li>

      <li class="nav-item active-pro ">
        <a class="nav-link" href="./upgrade.html">
          <i class="material-icons">unarchive</i>
          <p>ออกจากระบบ</p>
        </a>
      </li>
    </ul>
  </div>
</div>
