

  <!-- End Navbar -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">ข้อมูลส่วนตัว</h4>
              <p class="card-category"></p>
            </div>
            <div class="card-body">
              <form>
                <div class="row">

                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="bmd-label-floating">Username</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">อีเมล</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">ที่อยู่</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">เบอร์ติดต่อ</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>


                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModal">
                  บันทึก
                </button>

                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
              <a href="javascript:;">
                <img class="img" src="../assets/img/faces/marc.jpg" />
              </a>
            </div>
            <div class="card-body">

              <a href="javascript:;" class="btn btn-primary btn-round">อัพโหลดรูป</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

